@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
  --color-primary: #735290;
  --color-secondary: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat', 'Calibri';

}

html {
   height: 100%;
}

body {
  margin: 0;
  background-color: #F5F5FA;
  text-align: center;
}


::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: rgb(235, 235, 235);
}


::-webkit-scrollbar-thumb {
  background: #434347;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

